html {
  height: 100%;
}
body {
  height: 100%; 
}

.app-wrapper{
  display: grid;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  background-color: #161616;
  padding: 15px;
}

.app-wrapper-content{
  grid-area: c;
  background-color: #313034;
  border-radius: 10px;
  padding: 20px;
}
