.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;
}

.dialogs_items{
    padding: 10px;
    border-radius: 10px;
    background-color: #494848;
    margin: 0 20px 0 0;
}

.dialogs .active{
    color: gold;
}

.dialog{

}

.messages{
    padding: 10px;
    border-radius: 10px;
    background-color: #494848;
}

.message{

}

h2{
    color: white;
}

.line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 0 0 20px 0;
}